.availability_prompt {
    color: #0B5E7F;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 100px;
}

.availabilty_container {
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
    margin-top: 150px;
}

.availability_btn {
    font-size: 16px;
    padding: 32px;
    margin: 0px 1px 0 1px;
    border: solid black;
    border-radius: 2px;
}


.day:disabled {
    cursor: text;
    background: #F52338;
	color: white;
}

.day_container {
    display: flex;
    flex-direction: column;
}

.breakfast {
    color: white;
    background: #0682F7
}

.lunch {
    background: #FFDF3D;
	color: white;
}

.brunch {
    background: #F68B09;
	color: white;
}

.dinner {
    background: #060F36;
	color: white;
}

.unavailable {
    opacity: 0.1
}

.available {
    opacity:1
}

.submit_availability {
    margin-top: 80px;
    margin-left: 50px ;   
    padding: 15px;
    font-size: 15px;
}