.profile_container {
	display: flex;
	min-width: 350px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 65px;
	border: solid black
}

.info_edit_button:hover {
	cursor: pointer;
}

.update-btn {
	margin-left: 150px
}

.update-btn:hover {
    cursor: pointer;
    background: #668295;
}



.info_modal_employee_redirect {
    display: block;
    font-size: 28px;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 280px;
    text-align: left;
    outline: none;
}
.info_modal_employee_redirect:hover {
    background-color: #1D134D;
    color: grey;
}

.info_modal_links {
    margin-top: 45px;
}

.form-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.user-info-form {
	display: flex;
	margin-top: 65px;
}

.user-info-form fieldset {
	border-radius: 4px;
	align-items: center;
	font-size: 25px;
	height: 85%;
	margin-top: 45px;
	margin-bottom: 60px;
}

.address-field {
	font-size: 17px;
}
.user-info-form label {
    display: block; 
    margin-bottom: 5px;
}

.user-info-form input {
    display: block; 
	width: 400px;
	height: 30px;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 20px;
	padding-left: 5px;
}

.user-info-form button {
	width: 150px;
}

.schedule-redirect {
	text-align: center;
}

.ul {
	list-style-type: none;
	display: flex;
	border: none;
}


	