.instruction_page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.instructions_app_name {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 25px;
    margin: 10px 20px;
    color: white;
}

.background-color {
    background: #e9f2ed;
}

.instructions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.instructions > * {
    border-radius: 4px;
    width: 600px;
    margin-bottom: 15px;
    padding: 10px;
    background: white;
    color: #112138;
}

.admin_instructions_div {
    margin-top: 50px;
}

ul {
    list-style-type: square;
}

li {
    padding-bottom: 3px;
}

.pw_instructions {
    padding-left: 20px;
}

.instructions_page_redirect {
    border-radius: 4px;
    background: #e9f2ed;
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

@media all and (max-width: 610px) {
    .instructions > * {
        width: 95%;
        margin-bottom: 10px;
        padding: 10px 0;
    }
}
