.account_nav {
    display: flex;
    background: rgba(17, 33, 56, 1);
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
}

.menu_icon {
    margin: 12px 0 12px 15px;
    cursor: pointer;
    flex-grow: 1;
}

.menu_icon > * {
    width: 40px;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 20%;
}

.nav_log-out_button {
    width: 100px;
    height: 35px;
    margin: 0px 12px 0px 30px;
    color: red;
    font-size: 12px
}

.nav_user_name {
    color: #2177a8
}

.nav_date {
    margin: 0px 25px 0px 30px;
    color: #129482;
}