.account_nav {
    display: flex;
    background: #181E3F;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
}

.menu_icon {
    margin: 12px 0 12px 15px;
    cursor: pointer;
    flex-grow: 1;
}

.menu_icon > * {
    width: 40px;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 20%;
}

.nav_log-out_button {
    width: 100px;
    height: 35px;
    margin: 0px 12px 0px 30px;
    color: rgba(216, 73, 73, 85);
    font-size: 14px
}

.nav_user_name {
    color: rgba(216, 73, 73, 85);
}

.nav_date {
    margin: 0px 25px 0px 30px;
    color: #26A56A;
}

.material-icons.no_notification {
    color: rgba(242, 201, 79, 95);
}

.material-icons.new_notification {
    color: rgba(216, 73, 73, 85);
    filter: brightness(120%);
}
.material-icons.new_notification:hover {
    cursor: pointer;
}