.admin_schedule_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(24, 30, 64, 25);
  height: 100%;
}

.admin_schedule_container {
  display: grid;
  width: 80%;
  border: 1px solid rgba(38, 165, 106, 65);
  max-width: 1200px;
  grid-template-columns: auto repeat(7, 1fr);
  grid-column-gap: 1px;
  margin-bottom: 40px;
}

.admin_schedule_container div, .admin_schedule_container button {
  text-align: center;
}

.admin_schedule_shift {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D2F7F3;
  color: #112138;
  border-bottom: 1px solid rgba(38, 165, 106, 65);
}

.admin_schedule_position, .admin_schedule_days  {
  border-bottom: .5px solid rgba(38, 165, 106, 65);
  border-top: 1px solid rgba(38, 165, 106, 65);
  background: #112138;
  color: #129482;
}

.admin_schedule_name {
  border-bottom: 1px solid rgba(38, 165, 106, 65);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(24, 30, 64, 25);
  color: #D2F7F3;
  padding: 10px;
}

.admin_schedule_name:hover {
  color: white;
}

.admin_schedule_days_name {
  background: #112138;
  color: #D2F7F3;
}

.current {
  background: #c0a115;
}

.admin_schedule_div {
  display: flex;
}

.selected_month {
  display: flex;  
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.month_row-selected {
  margin-bottom: 40px;
}

.admin_current_month-container {
  margin: 150px 0 40px 0;
}

.admin_current_month, .admin_selected_month {
  font-size: 40px;
  color: white;
}

/* selected week */

.admin_schedule_select {
  background:rgba(24, 30, 64, 0.1);
}

.admin_schedule_btns {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1px;
}

.schedule_btn {
  background: red;
}

.breakfast_btn {
  background: rgba(216, 73, 73, 85);
}

.lunch_btn {
  background: rgba(38, 165, 106, 65);
}

.brunch_btn {
  background: rgba(242, 201, 79, 95);
}

.dinner_btn {
  background: rgba(93, 135, 191, 75);
}

.selected {
  opacity: 1;
  color: white;
}

.off {
  /* color: white; */
  opacity: 0.2
}
.hidden {
  display: none
}

.displayed {
  display: inline-block;
}

.admin_year {
  font-size: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  color: #112138;
}
.admin_day_number {
  color: #2463A1;
}

.select {
  background: blueviolet
}

.select:active {
  background: blueviolet
}

@media only screen and (max-width: 1200px) {
  .admin_schedule_container, .selected_month {
    width: 85%;
  }
}

@media only screen and (max-width: 1100px) {
  .admin_schedule_container, .selected_month {
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .admin_schedule_container, .selected_month {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .admin_schedule_container, .selected_month {
    width: 95%;
  }

  .admin_schedule_container > * {
    font-size: 14px;
  }

  .month-current, .month-selected {
    font-size: 35px;
  }
}
@media only screen and (max-width: 550px) {
  .admin_schedule_container > * {
    font-size: 13px;
  }

  .month-current, .month-selected {
    font-size: 30px;
  }
}
