.availability_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 150px;
}

.availability_prompt {
    color: rgba(24, 30, 64, 25);;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 3%;
    width: 75%;
    max-width: 1200px;
}

.availability_container {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 1200px;
}

.availability {
    display: flex;
    justify-content: center;
    align-items: center;
}

.availability_btn {
    font-size: 16px;
    padding: 32px;
    margin: 1px;
    border-radius: 2px;
	color: white;
}

.availability_btn.day {
    cursor: text;
    background: #510F59;
}

.day_container {
    display: flex;
    width: 14.26%;
    flex-direction: column;
}

.breakfast {
    background: rgba(38, 165, 106, 65);
    border: solid rgba(38, 165, 106, 65)
}

.breakfast-unavailable {
    background: rgba(38, 165, 106, 0.45);
    border: solid rgba(38, 165, 106, 0);
}

.breakfast-unavailable:hover, 
.lunch-unavailable:hover, 
.brunch-unavailable:hover,
.dinner-unavailable:hover {
    border: solid rgba(216, 73, 73, 85);
}

.lunch {
    background: rgba(93, 135, 191, 75);
    border: solid rgba(93, 135, 191, 75);
}

.lunch-unavailable {
    background: rgba(93, 135, 191, 0.45);
    border: solid rgba(93, 135, 191, 0);
}

.brunch {
    background: rgba(242, 201, 79, 95);
    border: solid rgba(242, 201, 79, 95);
}
.brunch-unavailable {
    background: rgba(242, 201, 79, 0.45);
    border: solid rgba(242, 201, 79, 0);
}

.dinner, .submit_availability {
    background: rgba(24, 30, 64, 25);
    border: solid rgba(24, 30, 64, 25);
}

.dinner-unavailable {
    background: rgba(24, 30, 64, 0.45);
    border: solid rgba(242, 201, 79, 0);
}

.submit_availability {
    margin-top: 60px;
    padding: 15px;
    font-size: 20px;
    max-width: 1200px;
    color: white;
}

.submit_availability:hover {
    background: rgba(24, 30, 64, 25);
    border: solid rgba(24, 30, 64, 0);
}

@media only screen and (max-width: 1400px) {
    .availability_container {
        width: 80%
    }
}

@media only screen and (max-width: 1200px) {
    .availability_container {
        width: 90%
    }
}

@media only screen and (max-width: 1000px) {
    .availability_container {
        width: 98%
    }
} 

@media only screen and (max-width: 880px) {
    .availability_container {
        width: 98%;
    }
    
    .availability_btn {
        font-size: 12px;
    }
}
@media only screen and (max-width: 768px) {
    .availability {
        width: 100%;
        flex-direction: column;
    }
    
    .day_container {
        display: flex;
        align-content: center;
        width: 100%;
        flex-direction: row;
    }
    
    .availability_btn {
        width: 24.5%;
    }
}