.contact_page {
	display: flex;
	height: 100vh;
}

.contact_list_container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-row-gap: 5px;
	width: 75%;
	max-width: 1200px;
	height: auto;
	margin: 250px auto 50px auto;
	border-radius: 4px;
	font-size: 20px;
	background: #D2F7F3;
}

.contact_row  {
	display: grid;
	list-style-type: none;
}


.contact_list {
	display: flex;
	border-bottom: solid white;
	padding-left: 8px;
	justify-content: flex-start;
	align-items: center;
}


.contacts {
	color: red;
}

.contact_list_container-mobile {
	display: flex;
	flex-direction: column;
	width: 75%;
	height: auto;
	margin: 250px auto 50px auto;
	border-radius: 4px;
	font-size: 20px;
}

.contact_card_mobile {
	border: solid rgba(38, 165, 106, .4);
	color: rgba(24, 30, 64, 25);
	border-radius: 3px;
	margin-bottom: 5px;
}

.contact_card_mobile:hover {
	border: solid rgba(38, 165, 106, 85);
}
.contact_label-mobile {
	margin: 10px 0 0 10px;
	font-weight: 600;
}

.contact_info-mobile {
	font-weight: 200;
	margin: 5px 10px 10px 10px;
}

.contact_info-mobile.contact_availability {
	color: rgba(216, 73, 73, 85);
}

@media only screen and (min-width: 769px) {
	.contact_list_container-mobile {
		display: none;
	}	

	.contact_list_container {
		width: 90%;
		font-size: 18px;
	}	
}

@media only screen and (max-width: 768px) {
	.contact_list_container {
		display: none;
	}	

	.contact_list_container-mobile {
		width: 90%;
	}	
}

@media only screen and (max-width: 550px) {
	.contact_list_container-mobile {
		width: 95%;
	}	
}

@media only screen and (min-width: 1000px) {
	.contact_list_container {
		width: 85%;
		font-size: 20px;

	}	
}

@media only screen and (max-width: 900px) {
	.contact_list_container {
		font-size: 15px;

	}	
}

@media only screen and (min-width: 1200px) {
	.contact_list_container {
		width: 80%;
	}	
}




