.instruction_page {
    background: #E9F2ED;
}

.instructions {
    display: flex;
    height: 96vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.instructions > * {
    border-radius: 4px;
    width: 600px;
    margin-bottom: 15px; 
    padding: 10px;
    background: white;
	color: #112138;
}

.admin_instructions_div {
    margin-top: 50px;
}

ul {
    list-style-type: square;  
}

li {
    padding-bottom: 3px
}

.pw_instructions {
    padding-left: 20px
}

.instructions_page_redirect {
    border-radius: 4px;
    background: #E9F2ED;
    text-align: center;
    font-size: 15px;
    padding: 10px
}



@media all and (max-width: 610px) {
    .instructions > * {
        width: 95%;
        margin-bottom: 10px; 
        padding: 10px 0;
    }
}