.landing_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: grey;
    font-family: 'Quattrocento Sans', sans-serif;
    background: url(../images/IMG_0098.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instructions {
    display: flex;
    flex-direction: column;

}