.landing_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Quattrocento Sans', sans-serif;
	background: #E9F2ED;
}

.header {
    border: solid;
    width: 100%;
    height: 50px;
}

.background_images {
    max-width: 1280px;
    max-height: 827px;
    width: 98%;
    margin: 0px 0 60px 0;
    border: solid;
}

.background_images img {
    width: 100%;
}

.instructions {
    display: flex;
    flex-direction: column;

}