.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	flex-direction: column;
}

.login-form fieldset {
	border-radius: 4px;
}

.login-form label {
    display: block; 
    margin-bottom: 5px;
}

.login-form input {
    display: block; 
    font-size: 25px;
	width: 250px;
	margin-bottom: 30px;
	margin-top: 20px;
	padding-left: 5px;
}

.log_in_button {
	width: 100%;
	padding: 15px;
	background-color: white;
	font-size: 20px;
}

.account_redirect_field {
	display: grid;
	margin-bottom: 40px;
	width: 250px;
}

.login_redirect {
	font-size: 20px;
	font-weight: 150;
	width: 100%;
}

.form_error {
	color: red;
}

.acct_redirect_field {
	display: flex;
	margin-bottom: 8px;
	justify-content: center;
}

.log_redirect {
 	color: rgba(38, 165, 106, 65);
	border: solid white;
	font-size: 20px;
	font-weight: 150;
	margin-top: 15px;
	padding: 10px 37px;
}

.log_redirect.admin {
	border-radius: 3px 0 0 3px;
}

.log_redirect.employee {
	border-radius: 0 3px 3px 0;
}

.log_redirect:hover {
	border: solid #E9F2ED;
}


.selected_account {
	background: #E9F2ED;
	border: solid #E9F2ED;
	color: #13A1AB;
}

.selected_account:hover {
	cursor: not-allowed;
}

.redirect_button { 
	font-size: 15px;
	border: solid #E9F2ED;
}