.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #181E3F;
    height: 50px;
}

.nav_redirect_button {
    height: 35px;
    width: 90px;
    margin-right: 10px;
    color: rgba(38, 165, 106, 65);
    font-size: 15px;
}

.logo {
    flex-grow: 1;
    margin-left: 15px;
    font-size: 28px;
    font-weight: 150;
    color: white;
}