.availability_alert {
    border-radius: 3px;
    padding: 15px 20px;
    background: rgba(242, 201, 79, 95);
    transition: margin-right 3s;
}

.schedule_alert {
    border-radius: 3px;
    padding: 15px 20px;
    background: #26A56A;
    color: white;
    transition: margin-right 2s;
}

.notifications-hidden {
    margin-right: -145%;

}

.notifications-visible {
    margin-right: 0;

}