.schedule_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.user_schedule_container {
  display: grid;
  width: 80%;
  max-width: 1200px;
  grid-template-columns: auto repeat(7, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 1px;
  margin-bottom: 40px;
}

.user_schedule_shift {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(38, 165, 106, 0.2);
  color: #112138;
}

.user_schedule_shift:hover {
  cursor: pointer;
}

.user_schedule_position {
  background: rgba(24, 30, 64, 25);
  text-align: center;
  color: #D2F7F3;
}

.user_schedule_name {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(24, 30, 64, 25);
  color: white;
  padding: 10px;
}

.contact_links {
  color: white;
  text-decoration: none;
}

.contact_links:hover {
  color: #129482;
}

.user_schedule_days {
  background: rgba(24, 30, 64, 25);
  color: #D2F7F3;
  text-align: center;
}

.user_day_number {
  color: #129482;
}

.select_save {
  display: flex;
  margin: 100px 0 20px 0;
} 

.user_current_month {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 20px 0;
}

.user_current_schedule_update_button {
  font-size: 20px;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
}

.user_current_schedule_update_button:hover {
  background: rgba(242, 201, 79, 0.2);
}

.user_selected_month {
  display: flex;  
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.month-current {
  font-size: 40px;
  margin-bottom: 10px;
  color: #112138;
}

.month-selected {
  font-size: 40px;
  margin: 0px 10px 40px 0px;
  color: #112138;
}

.current, .logged_in {
  background: rgba(242, 201, 79, 95);
  color: #112138;
  text-align: center;
}

.green {
  color: rgb(33, 206, 33);
  font-weight: bold;
  font-size: 18px;
}

.red {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .user_schedule_container, .user_selected_month {
    width: 85%;
  }
}

@media only screen and (max-width: 1100px) {
  .user_schedule_container, .user_selected_month {
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .user_schedule_container, .user_selected_month {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .user_schedule_container, .user_selected_month {
    width: 95%;
  }

  .user_schedule_container > *, .red, .green {
    font-size: 14px;
  }

  .month-current, .month-selected {
    font-size: 30px;
  }
}
@media only screen and (max-width: 550px) {
  .user_schedule_container > *, .red, .green {
    font-size: 12px;
  }

  .month-current, .month-selected {
    font-size: 25px;
  }
}
