.admin_schedule_page {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(24, 30, 64, 25);
}

.admin_schedule_container {
  display: grid;
  width: 80%;
  border: 1px solid grey;
  max-width: 1200px;
  grid-template-columns: auto repeat(7, 1fr);
  grid-column-gap: 1px;
  margin-bottom: 40px;
}

.admin_schedule_container div, .admin_schedule_container button {
  text-align: center;
}

.admin_schedule_shift {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(93, 135, 191, 0.2);
  color: #D2F7F3;
  ;
  border-bottom: 1px solid grey;
}

.admin_schedule_position, .admin_schedule_days {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .5px solid grey;
  border-top: .5px solid grey;
  background: #112138;
  color: rgba(38, 165, 106, 65);
  padding-top: 3px;
}

.admin_schedule_name {
  display: flex;
  border-bottom: 1px solid grey;
  justify-content: center;
  align-items: center;
  background: rgba(24, 30, 64, 25);
  padding: 10px;
  color: #D2F7F3;
}

.admin_schedule_name:hover {
  color: rgba(242, 201, 79, .9);
  ;
}

.admin_schedule_days_name {
  background: #112138;
  color: #D2F7F3;
}

.current, .logged_in {
  background: #c0a115;
  color: #112138;
}

.admin_schedule_div {
  display: flex;
}

.selected_month {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.month_row-selected {
  margin-bottom: 40px;
}

.admin_current_month-container {
  margin: 150px 0 40px 0;
}

.admin_current_month, .admin_selected_month {
  font-size: 40px;
  color: #D2F7F3;
}

/* selected week */

.admin_select_save {
  margin: 100px 0 20px 0;
  display: flex;
  align-items: center;
  width: 250px;
}

.admin_select_save>.MuiInputBase-root.MuiInput-root.MuiInput-underline {
  background: rgba(24, 30, 64, 25);
  color: #D2F7F3;
  flex: 1;
}

.admin_schedule_select>* {
  color: #D2F7F3;
}

.admin_schedule_save {
  width: 60px;
  border-radius: 2px;
  color: #D2F7F3;
  border: .5px solid #D2F7F3;
  font-size: 16px;
  padding: 17px;
  width: 90px
}

.updated-admin {
  background: rgba(24, 30, 64, 24);
}

.updating-admin {
  background: white;
  filter: brightness(200%);
  color: rgba(24, 30, 64, 24);
}

.admin_schedule_btns {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1px;
  border-bottom: solid .5px grey;
}

.admin_schedule_btns>* {
  border-radius: 0;
}

.breakfast_btn {
  background: rgba(216, 73, 73, 85);
}

.lunch_btn {
  background: rgba(38, 165, 106, 65);
}

.brunch_btn {
  background: rgba(242, 201, 79, 95);
}

.dinner_btn {
  background: rgba(93, 135, 191, 75);
}

.selected {
  opacity: 1;
  color: white;
  transition: filter .5s;
}

.selected:hover {
  filter: brightness(140%)
}

.off {
  color: white;
  opacity: 0.2
}

.hidden {
  display: none
}

.displayed {
  display: inline-block;
}

.admin_year {
  font-size: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  color: #112138;
}

.admin_day_number {
  color: #2463A1;
}

@media only screen and (max-width: 1200px) {
  .admin_schedule_container, .selected_month {
    width: 85%;
  }
}

@media only screen and (max-width: 1100px) {
  .admin_schedule_container, .selected_month {
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .admin_schedule_container, .selected_month {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .admin_schedule_container, .selected_month {
    width: 95%;
  }
  .admin_schedule_container>* {
    font-size: 14px;
  }
  .month-current, .month-selected {
    font-size: 35px;
  }
}

@media only screen and (max-width: 550px) {
  .admin_schedule_container>* {
    font-size: 13px;
  }
  .month-current, .month-selected {
    font-size: 30px;
  }
}